<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Sign-Up</title>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
            <form method="post" class="card-body" style="width: 18rem;"  action="/create">
                <input class="form-control"  type="text" name="name" placeholder="Nome Completo"><br>
                <input class="form-control" type="text" autocomplete="none" name="cpf" id="cpf" placeholder="CPF"><br>
                <input class="form-control" type="email" name="email" placeholder="Jose.Lucas@email.com"><br>
                <input class="form-control" type="password" name="password" placeholder="********">
                <button class="btn btn-outline-secondary form-control mt-2">Registrar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

